$base-color: #fff;
$base-text-color: #333;
$base-link-hover-color: #3c91af;

/* TYPOGRAPY */


/* GRID SETTINGS */

$breakpoints: (
	small: (width: 768px),
	mid: (width: 960px),
	full: (width: 1024px)
);
